# =========================
# Ambiente virtual
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
media/
staticfiles/
uploads/

# =========================
# Variáveis de ambiente
# =========================
.env
.env.*

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema
# =========================
Thumbs.db
.DS_Store
