<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Aida\Desktop\API-SynesthesiavisionwEB\SynesthesiaWebApi\venv\Scripts\python.exe|C:\Users\Aida\Desktop\API-SynesthesiavisionwEB\SynesthesiaWebApi\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="venv" />
        </hiddenSegments>
      </requestFiltering>
    </security>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <remove name="Access-Control-Allow-Headers" />
                <remove name="Access-Control-Allow-Methods" />
            </customHeaders>
        </httpProtocol>

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="synesthesiavisionWeb.wsgi.application" />
    <add key="PYTHONPATH" value="C:\Users\Aida\Desktop\API-SynesthesiavisionwEB\SynesthesiaWebApi" />
    <add key="DJANGO_SETTINGS_MODULE" value="synesthesiavisionWeb.settings" />
  </appSettings>
</configuration>
